matplotlib==3.10.8
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-nvtx==13.0.85
opencv-python==4.13.0.92
pip==26.0.1
piper-sdk==0.6.1
pupil_apriltags==1.0.4.post11
pyrealsense2==2.54.2.5684
scipy==1.15.3
segment-anything==1.0
torch==2.11.0
tqdm==4.67.3
wandb==0.26.1
wheel==0.46.3
